.nav-bar {
  display: flex;
  flex-direction: column;
}
.nav-top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding: 7px 60px;
  background-color: #eee;
  font-size: 12px;
  font-weight: 600;
}
.nav-bottom {
  /* width: 100%; */
  /* height: 100px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 60px;
}
.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.menu li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 800;
  overflow: hidden;
}
.menu li a:hover {
  color: #999;
}
.search-box {
  background-color: #eee;
  padding: 8px 16px;
  border-radius: 30px;
}
.search-box input {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0 10px;
}
.card {
  border: none !important;
  margin-bottom: 10px;
  transition: 0.15s;
  overflow: hidden;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 40px;
}
.card img {
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}
.card-wrapper {
  position: relative;
}
.card-wrapper .card-wrap:hover::before {
  content: '상세보기';
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  width: 100%;
  height: 100%;
}
.card .card-new {
  color: #b94a00;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}
.card .card-title {
  color: #333;
  margin: 0;
}
.card .card-gender,
.card .card-color {
  color: #777;
}
.card .card-color {
  margin-bottom: 10px;
}
.login-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 442px);
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}
.login-area h2 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}
.mb-3 {
  width: 100%;
}
.login-form .button {
  width: 100%;
}
.product-title {
  font-size: 24px;
  font-weight: 800;
}
.product-gender {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}
.product-price {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}
.product-title {
  font-size: 24px;
  font-weight: 800;
}
.product-title {
  font-size: 24px;
  font-weight: 800;
}
#dropdown-basic {
  margin-bottom: 20px;
}
.add-cart {
  height: 50px;
  width: 45%;
  background-color: #333;
  margin-right: 10px;
}
.add-list {
  width: 45%;
  height: 50px;
  border: 1px solid #333 !important;
}
.desc {
  /* width: 400px; */
  line-height: 1.7;
  font-size: 14px;
  margin: 20px 0;

}
ul {
  font-size: 14px;
}
.contents img {
  width: 1080px;
}
.product-detail-wrapper {
  margin-top: 40px;
}
.product-detail-img {
  flex: 1.3 0 !important;
}
.footer-ul-left,
.footer-ul-right {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  margin: 0;
  padding: 0;
}
.footer-ul-left a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.footer-ul-right a {
  text-decoration: none;
  color: #ccc;
  font-size: 14px;
  font-weight: 500;
}
.footer-ul-right li:first-child a {
  font-size: 16px !important;
  font-weight: 600 !important;
  color: #fff !important;
}